Package: com.touchsprite.youkuadskip
Name: YouKuAdSkip
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Half
Author: Half
Section: Tweaks
